.propagandas{
    background-position: 20%;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.promocao{
    width: 100%;
    height: 85%;
}

.comecar{
    width: 100%;
    height: 15vh;
    background-color: rgb(255, 190, 50);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.pagamentos img{
    max-width: 24px;
    max-height: 24px;
}



/**Tela Inicio*/
.inicio{
    width: 100%;
    height: 100vh;
    display: flex;
}

.menu{
    width: 20%;
    height: 100%;
    background-color: #ffd900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn-escolha{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/*Animações*/
@keyframes desaparecer {
    0%{
        top:0%;
    }
    100%{
        top: -200%;
        z-index: -999;
    }
}

@keyframes crescer {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.2;
    }
}

.subir{
    animation: desaparecer 4s forwards;
}

.crescer{
    animation: crescer 1s forwards;
}