/**Tela Inicio*/
::-webkit-scrollbar{
    display: none;
}

.propagandas{
    background-position: 20%;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1;
}

.promocao{
    width: 100%;
    height: 85%;
}

.comecar{
    width: 100%;
    height: 15vh;
    background-color: rgb(255, 190, 50);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.pagamentos img{
    max-width: 24px;
    max-height: 24px;
}

.finalizarPedido{
    width: 80%;
    height: 10%;
    border: 2px #ffd900 solid;
    position: fixed;
    left: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90%;
    background-color: #ffffff;
}

.btn-finaliza{
    text-decoration: none;
    color: red;
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #ffd900;
    text-align: center;
    
    border-radius: 50px;
}



.inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffffff;
}

/**Menu de opções*/
.menu{
    width: 20%;
    height: 100%;
    background-color: #ffd900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

.btn-escolha{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blur{
    filter: blur(13px);
}

/**Cards de lanche*/
.lanches{
    width: 80%;
    height: 100%;
    display: flex;
    position: sticky;
    align-items: start;
    justify-content: start;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    left: 80%;
    margin-left: 20%;
}

.lanche{
    width: 45%;
    height: 20%;
    border: #ffd900 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.imagemLanche{
    width: 50%;
    height: 50%;
}

.nomeLanche{
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.preco{
    text-decoration: none;
    text-align: center;
    color: red;
    font-weight: bold;
text-decoration: none;
}

.lancheSelecionado{
    width: 70%;
    height: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 2px #ffd900 solid;
    border-radius: 10px;
    top: 20%;
    left: 15%;
}

.lancheSelecionado img{
    width: 70%;
    height: 50%;
}

.lancheSelecionado .preco{
    font-size: 1.4em;
}

.lancheSelecionado button{
    width: 80%;
    height: 10%;
    text-align: center;
    background-color: #ffd900;
    border-radius: 10px;
}

.ocultar{
    display: none;
    z-index: -999;
}

.tirar{
    display: none !important;
}

.botaoVoltar{
    position: absolute;
}



/*Pagina pagamentos*/
#paginaPagamento{
    width: 100%;
    height: 100vh;
}

.pagamento{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.metodos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
    width: 80%;
    height: 70%;
}

.metodosPagamento{
    width: 40%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 2px #ffd900 solid;
    background-color: #ffd900;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}   

.metodosPagamento img{
    width: 70%;
    height: 60%;
}

/*Tela confirmação*/

.telaConfirmar{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.pedidosFeitos{
    width: 100%;
    height: 90%;
    padding: 20px;
    border: #ffd900 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    
}

.cardPedido{
    width:100%;
    height: 15%;
    border: #ffd900 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #ffffff;
}

.titleDesc h1{
    font-size: 1.4em;
}

.cardPedido img{
    width: 20%;
    height: 80%;
}

.botaoRemover{
    background-image: url(../img/cancelar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 7%;
    height: 26%;
    margin-right: 20px;
    border-radius: 100%;
    border: #ffffff 1px solid;
}

.valorTotal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 20px;
}

.botaoPagamento{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    color: red;
    background-color: #ffd900;
    border-radius: 20px;
    border: red 2px solid;
    text-decoration: none;
    margin-left: 100px;
}

/*Tela final*/
.paginaFinal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    background-color: #ffffff;
}
/*Animações*/
@keyframes desaparecer {
    0%{
        top:0%;
    }
    99%{
        z-index: 1;
    }
    100%{
        top: -200%;
        z-index: -999;
    }
}

@keyframes crescer {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.2;
    }
}

.subir{
    animation: desaparecer 4s forwards;
}

.crescer{
    animation: crescer 1s forwards;
}

.bloquear{
    position: fixed;
    pointer-events: none;
}