*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.telaPedido{
    width: 100%;
    height: 100vh;
    /*background-image: url(../img/fundo.PNG);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: fixed;
}

.preparando{
    width: 50%;
    height: 99%;
    color: #ff0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
}

.prontos{
    width: 50%;
    height: 99%;
    color: #489624;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;    
}

.prontos h1{
    margin-top: 20px;
}

.preparando h1{
    margin-top: 20px;
}

.pedidosPreparando {
    width: 100%;
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px; 
}

.pedido{
    width: 50%;
    height: 20%;
    /*background-color: rgb(189, 145, 0);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido h2{
    color: black;
    font-size: 1em;
}

.pedidosProntos{
    width: 100%;
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px; 
}

.pedidoPronto{
    width: 50%;
    height: 20%;
   /* background-color: rgb(0, 0, 0);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedidoPronto h2{
    color: rgb(26, 25, 25);
    font-size: 1em;
}

.vertical-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%; /* Posiciona a linha no centro horizontal da tela */
    width: 5px; /* Largura da linha */
    background-color: rgb(255, 0, 0); /* Cor da linha */
}
