<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Lanchonete</title>
    
</head>
<body>
    <main class="propagandas" id="telaComeco">
      <img src="../public/img/Banner2.png" alt="Promoção" class="promocao">
      <section class="comecar" id="comecarAgora">
        <div class="pagamentos">
          <img src="../public/img/alelo.png" alt="Alelo">
          <img src="../public/img/boleto.png" alt="Boleto">
          <img src="../public/img/paypal.png" alt="Paypal">
          <img src="../public/img/pix.png" alt="Pix">
          <img src="../public/img/visa.png" alt="Visa">
          <img src="../public/img/mastercard.png" alt="Mastercard">
        </div>
        <p>Fazer meu pedido!</p>
      </section>
    </main>
    <section class="inicio">
      <div class="menu">
        <a href="#" class="btn-escolha" id="promocoes"><img src="../public/img/promocaoIcon.png" alt="Promoções"></a>
        <a href="#" class="btn-escolha" id="hamburguers"><img src="../public/img/hamburguerIcon.png" alt="Hamburguers"></a>
        <a href="#" class="btn-escolha" id="acompanhamentos"><img src="../public/img/acompanhamentoIcon.png" alt="Porções"></a>
        <a href="#" class="btn-escolha" id="bebidas"><img src="../public/img/bebidasIcon.png" alt="Bebidas"></a>
        <a href="#" class="btn-escolha" id="sobremesas"><img src="../public/img/sobremesaIcon.png" alt="Sobremesa"></a>
      </div>
      <div class="lanches" id="cardapio">        
      </div>
    </section>
    <section id="lancheSelecionado">
      
    </section>
    <script src="../public/js/comeco.js"></script>
    <script src="../public/js/renderer.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>