<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Tela de Pedidos</title>
</head>
<body>
    <main class="telaPedido">
        <section class="preparando">
            <h1>Preparando</h1>
            <div class="pedidosPreparando" id="preparando">

            </div>
        </section>
        <section class="prontos">
            <h1>Pronto</h1>
            <div class="pedidosProntos">
                <div class="pedidoPronto">
                    <h2>NOME</h2>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../public/js/renderer.js"></script>
</html>